.dashboard-content {
    padding: 20px;
}

.add-button-row {
    justify-content: flex-start;
    margin-bottom: 20px;
}

.pod-row {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 576px) { /* sm breakpoint */
    /* Add styles specific for mobile view */
    .dashboard-container {
        padding: 10px;
    }
}